/* .example-container {
  width: 98%;
} */

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-wrapper {
  flex: 1;  
  height: 100%;
  border: 1px solid blue;
}

.material-icons.gray { color: #999999; }

.side-menu {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.page-layout {
  display: flex;
  max-width: 100%;
  border: 1px solid red;
  flex-direction: row;
}

.list-column {
  flex: 1 1 65%;
  border: 1px solid yellow;
}

.info-column {
  flex: 1 1 32%;
  border: 1px solid green;
}

.picture-frame {
  border: 1px solid blue;
}

img {
    height: 288px;
    width: 192px;
}