<div *ngIf="(trip$ | async) as trip">
  <mat-card class="trip-card">
    <div class="card-header">
      <h2>
        {{trip.admin_title}}
      </h2>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <ng-container *ngIf="trip.background_pic_url && trip.background_pic_url !== ''; else defaultPic">
      <img mat-card-image [src]=trip.background_pic_url />
    </ng-container>
    <ng-template #defaultPic>
      <img mat-card-image [src]=DEFAULT_BACKGROUND />
    </ng-template>
    <mat-card-content>
      <p>
        {{ trip.admin_notes }}
      </p>
      <p>From {{trip.start_date | date: "short"}} to {{trip.end_date | date: "short"}}</p>
    </mat-card-content>
  </mat-card>

</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onEdit()">Edit</button>
  <button mat-menu-item (click)="onAddPerson()">Add Traveler</button>
  <button mat-menu-item (click)="onAddItinerary()">Add itinerary</button>
</mat-menu>