.wrapper {
  margin: 20px;
}

.list-header {
  display: flex;
  flex-direction: row;
}

.archive-toggle {
  font-size: x-small;
  color: gray;
}

.trip-list-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.trip-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.trip-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;
    width: 300px;
    height: 500px;
    margin: 20px;
    padding: none;
}

.card-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px 10px 0px 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.create-card {
  width: 250px;
  margin-right: 20px;
  display:flex;
  flex-direction: column;

}

img {
    height: 288px;
    width: 192px;
}