.wrapper {
  margin: 20px;
}

.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.trip-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;
    width: 300px;
    height: 500px;
    margin: 40px;
    cursor: pointer;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-card {
  width: 250px;
  margin-right: 20px;
  display:flex;
  flex-direction: column;

}

img {
    height: 288px;
    width: 192px;
}